.dv-scrollbar.dv-hover>.dv-scrollbar-trackX,
.dv-scrollbar.dv-hover>.dv-scrollbar-trackY {
    background-color: transparent;
    opacity: .6;
}

.dv-scrollbar.dv-scrolling-x>.dv-scrollbar-trackX,
.dv-scrollbar>.dv-scrollbar-trackX:hover {
    height: 11px;
    background-color: #eee;
    opacity: .9;
}

.dv-scrollbar.dv-scrolling-y>.dv-scrollbar-trackY,
.dv-scrollbar>.dv-scrollbar-trackY:hover {
    width: 11px;
    background-color: #eee;
    opacity: .9;
}

.dv-scrollbar-trackX {
    opacity: 0;
    height: 8px;
    border-radius: 4px;
}

.dv-scrollbar-thumbX {
    position: absolute;
    top: 1px;
    bottom: 1px;

    border-radius: 6px;
    background-color: #aaa;
    transition: background-color .5s linear, height .5s ease-in-out;
    -webkit-transition: background-color .5s linear, height .5s ease-in-out;
}

.dv-scrollbar-trackY {
    opacity: 0;
    width: 8px;
    border-radius: 6px;
}

.dv-scrollbar-thumbY {
    position: absolute;
    left: 1px;
    right: 1px;

    border-radius: 6px;
    background-color: #aaa;
    transition: background-color .5s linear, width .5s ease-in-out;
    -webkit-transition: background-color .5s linear, width .5s ease-in-out;
}